<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="../public/lib/element-ui/index.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <script src="../public/lib/axios.min.js"></script>
    <script src="../public/lib/vue.min.js"></script>
    <script src="../public/lib/zepto.min.js"></script>
    <script src="../public/lib/element-ui/index.min.js"></script>
</head>
<body>
    <a href="./zhisiyun.html">zhisiyun</a>
</body>
<script src="../public/js/index.js"></script>
</html>
